In [57]:
# Import the dependencies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
!pip install path
from path import Path

Requirement already satisfied: path in c:\users\sefa\anaconda3\lib\site-packages (16.5.0)

In [58]:
# Read the CSV into a DataFrame
df = pd.read_csv(
    Path("../Instructions/Resources/sales.csv")
)
df.head()

,PageVisitsCat1,PageVisitDurationCat1,PageVisitsCat2,PageVisitDurationCat2,PageVisitsCat3,PageVisitDurationCat3,BounceRates,ExitRates,PageValues,HowCloseToSpecialDay,Month,VisitorType,Weekend,Revenue
0,0.0,0.0,0.0,0.0,1.0,0.000000,0.200000,0.200000,0.0,0.0,Feb,Returning_Visitor,False,False
1,0.0,0.0,0.0,0.0,2.0,64.000000,0.000000,0.100000,0.0,0.0,Feb,Returning_Visitor,False,False
2,0.0,0.0,0.0,0.0,2.0,2.666667,0.050000,0.140000,0.0,0.0,Feb,Returning_Visitor,False,False
3,0.0,0.0,0.0,0.0,10.0,627.500000,0.020000,0.050000,0.0,0.0,Feb,Returning_Visitor,True,False
4,0.0,0.0,0.0,0.0,19.0,154.216667,0.015789,0.024561,0.0,0.0,Feb,Returning_Visitor,False,False

In [59]:
# List the columns
df.columns

Index(['PageVisitsCat1', 'PageVisitDurationCat1', 'PageVisitsCat2',
       'PageVisitDurationCat2', 'PageVisitsCat3', 'PageVisitDurationCat3',
       'BounceRates', 'ExitRates', 'PageValues', 'HowCloseToSpecialDay',
       'Month', 'VisitorType', 'Weekend', 'Revenue'],
      dtype='object')

### Description of columns:

**PageVisitsCatX:** Number of pages visited by a visitor. Cat1 is administrative, Cat2 is informational, and Cat3 is product related.

**PageVisitDurationCatX:** How long a visitor stayed on the category of pages.

**BounceRates:** Percentage of visitors who landed and exited a page.

**ExitRates:** Percentage of visitors who left the site from that page.

**PageValues:** A measurement of a page's contribution to a sale.

**HowCloseToSpecialDay:** How close is browsing date to a special day or a holiday, such as Valentine's day? Higher numbers are closer.

**Month:** Month of visit.

**VisitorType:** Is the visitor a new or returning visitor?

**Weekend:** Did the visit occur on a weekend day?

**Revenue:** Did the visit conclude in a sale?

## Perform Data Analysis

In [60]:
# Retrieve the number visits for each month.
#months = df['Month']
#'Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep','Dec'
Jan_count =0
Feb_count = 0
Mar_count = 0
April_count = 0
May_count = 0
June_count = 0
July_count = 0
Aug_count = 0
Sept_count = 0 
Oct_count = 0
Nov_count = 0
Dec_count = 0
for month in df['Month']:
    if month == 'Feb':
        Feb_count+=1
    elif month =='Mar':
        Mar_count+=1
    elif month =='May':
        May_count=+1
    elif month =='June':
        June_count+=1
    elif month =='Jul':
        July_count+=1
    elif month =='Aug':
        Aug_count+=1
    elif month =='Sep':
        Sept_count+=1
    elif month =='Oct':
        Oct_count+=1
    elif month =='Nov':
        Nov_count+=1
    elif month =='Dec':
        Dec_count+=1
print("January =", Jan_count)
print('February =', Feb_count)
print('March =', Mar_count)
print('April=' ,April_count)
print('May=' ,May_count)
print('June =',June_count)
print('July =' ,July_count)
print('August =' ,Aug_count)
print('September =' ,Sept_count) 
print('October=' ,Oct_count)
print('November=' ,Nov_count)
print('December =' ,Dec_count)

January = 0
February = 171
March = 1884
April= 0
May= 1
June = 288
July = 431
August = 433
September = 448
October= 549
November= 2995
December = 1727

In [61]:
df.Month.value_counts()

May     3357
Nov     2995
Mar     1884
Dec     1727
Oct      549
Sep      448
Aug      433
Jul      431
June     288
Feb      171
Name: Month, dtype: int64

In [62]:
# Retrieve the number of visits that resulted in a purchase or not.
Resulted_in_purchase = 0
Not_Resulted_in_purchase = 0

for value in df['Revenue']:
    if value == True:
        Resulted_in_purchase +=1
    elif value == False:
        Not_Resulted_in_purchase +=1
print("Visits_that_resulted_in_sales =",Resulted_in_purchase)
print("Visits_That_didnt_result_in_Sales =",Not_Resulted_in_purchase)

Visits_that_resulted_in_sales = 1908
Visits_That_didnt_result_in_Sales = 10375

In [63]:
# What percentage of visits resulted in a purchase?
percentage_of_visits_that_resulted_in_purchase = ((Resulted_in_purchase)/len(df))*100
percentage_of_visits_that_resulted_in_purchase

15.533664414231051

In [65]:
# Filter the DataFrame for all purchases.
purchase_df = df[df['Revenue']==True]
purchase_df.head()

,PageVisitsCat1,PageVisitDurationCat1,PageVisitsCat2,PageVisitDurationCat2,PageVisitsCat3,PageVisitDurationCat3,BounceRates,ExitRates,PageValues,HowCloseToSpecialDay,Month,VisitorType,Weekend,Revenue
56,3.0,87.833333,0.0,0.0,27.0,798.333333,0.000000,0.012644,22.916036,0.8,Feb,Returning_Visitor,False,True
67,10.0,1005.666667,0.0,0.0,36.0,2111.341667,0.004348,0.014493,11.439412,0.0,Feb,Returning_Visitor,False,True
92,4.0,61.000000,0.0,0.0,19.0,607.000000,0.000000,0.026984,17.535959,1.0,Feb,Returning_Visitor,True,True
175,9.0,111.500000,1.0,48.5,49.0,1868.819697,0.000000,0.020709,1.706015,0.0,Mar,Returning_Visitor,False,True
183,2.0,56.000000,1.0,144.0,67.0,2563.783333,0.000000,0.005797,19.342650,0.0,Mar,New_Visitor,False,True

In [66]:
# What is the number of visits for each month that resulted in a purchase?
# Which month had the greatest number of visits where a purchase was made?
purchase_df.Month.value_counts()

Nov     760
May     365
Dec     216
Mar     192
Oct     115
Sep      86
Aug      76
Jul      66
June     29
Feb       3
Name: Month, dtype: int64

In [67]:
# How many visits were from returning visitors?
# How many visits were from new visitors?
#df['VisitorType'].unique()
purchase_df.VisitorType.value_counts()

Returning_Visitor    1470
New_Visitor           422
Other                  16
Name: VisitorType, dtype: int64

In [68]:
# How many visits took place on a weekday? And, on the weekend?
purchase_df.Weekend.value_counts()

False    1409
True      499
Name: Weekend, dtype: int64

## Perform Logistic Regression

In [69]:
df1 = df.drop(['Month','VisitorType','Revenue'],axis=1)
df1.head()

,PageVisitsCat1,PageVisitDurationCat1,PageVisitsCat2,PageVisitDurationCat2,PageVisitsCat3,PageVisitDurationCat3,BounceRates,ExitRates,PageValues,HowCloseToSpecialDay,Weekend
0,0.0,0.0,0.0,0.0,1.0,0.000000,0.200000,0.200000,0.0,0.0,False
1,0.0,0.0,0.0,0.0,2.0,64.000000,0.000000,0.100000,0.0,0.0,False
2,0.0,0.0,0.0,0.0,2.0,2.666667,0.050000,0.140000,0.0,0.0,False
3,0.0,0.0,0.0,0.0,10.0,627.500000,0.020000,0.050000,0.0,0.0,True
4,0.0,0.0,0.0,0.0,19.0,154.216667,0.015789,0.024561,0.0,0.0,False

In [70]:
# Convert categorical variables to binary variables 
Visitor_dummies = pd.get_dummies(df['VisitorType'])

# Review the DataFrame
Visitor_dummies.tail()

       New_Visitor  Other  Returning_Visitor
12278            0      0                  1
12279            0      0                  1
12280            0      0                  1
12281            0      0                  1
12282            1      0                  0

In [71]:
month_dummies = pd.get_dummies(df['Month'])

# Review the DataFrame
month_dummies.tail()

       Aug  Dec  Feb  Jul  June  Mar  May  Nov  Oct  Sep
12278    0    1    0    0     0    0    0    0    0    0
12279    0    0    0    0     0    0    0    1    0    0
12280    0    0    0    0     0    0    0    1    0    0
12281    0    0    0    0     0    0    0    1    0    0
12282    0    0    0    0     0    0    0    1    0    0

In [72]:
df2 = pd.concat([df1,Visitor_dummies,month_dummies],axis=1)
df2.head()

,PageVisitsCat1,PageVisitDurationCat1,PageVisitsCat2,PageVisitDurationCat2,PageVisitsCat3,PageVisitDurationCat3,BounceRates,ExitRates,PageValues,HowCloseToSpecialDay,...,Aug,Dec,Feb,Jul,June,Mar,May,Nov,Oct,Sep
0,0.0,0.0,0.0,0.0,1.0,0.000000,0.200000,0.200000,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,2.0,64.000000,0.000000,0.100000,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,2.0,2.666667,0.050000,0.140000,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
3,0.0,0.0,0.0,0.0,10.0,627.500000,0.020000,0.050000,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,19.0,154.216667,0.015789,0.024561,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0

In [73]:
# List the columns
df.columns

Index(['PageVisitsCat1', 'PageVisitDurationCat1', 'PageVisitsCat2',
       'PageVisitDurationCat2', 'PageVisitsCat3', 'PageVisitDurationCat3',
       'BounceRates', 'ExitRates', 'PageValues', 'HowCloseToSpecialDay',
       'Month', 'VisitorType', 'Weekend', 'Revenue'],
      dtype='object')

In [74]:
# Separate the features and target variables.
X = df2.copy()
y = df['Revenue']

In [27]:
# Split the dataset into training and testing sets
X_train,X_test,y_train,y_test = train_test_split(X,y, random_state=42)

In [32]:
# Instantiate a logistic regression model
model = LogisticRegression(solver='lbfgs',random_state = 42)

In [33]:
# Train the model
model.fit(X_train,y_train)

C:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

In [35]:
# Use the testing data to make predictions.
log_prediction = model.predict(X_test)
result = pd.DataFrame({"Predictions":log_prediction,"Actual":y_test}).reset_index(drop=True)
result.head()

   Predictions  Actual
0        False   False
1        False   False
2        False   False
3        False   False
4        False   False

In [36]:
# Calculate the accuracy. 
print(f" Training_score: {model.score(X_train,y_train)}")
print(f" Test_score: {model.score(X_test,y_test)}")

 Training_score: 0.882544507164568
 Test_score: 0.882774340605666

In [38]:
# Print the confusion matrix.
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, log_prediction)

array([[2529,   65],
       [ 295,  182]], dtype=int64)

In [39]:
# Print a classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, log_prediction))

              precision    recall  f1-score   support

       False       0.90      0.97      0.93      2594
        True       0.74      0.38      0.50       477

    accuracy                           0.88      3071
   macro avg       0.82      0.68      0.72      3071
weighted avg       0.87      0.88      0.87      3071

## Overall Model Performance
----

- **Question:** Can the logistic regression model predict whether visiting a website will result in a purchase? 

- **Answer:**  Yes